@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <div id="content">
            <div>
                <div>
                    <h1>About</h1>
                    <ul>
                        <li>
                            <h2><a href="@Url.Content("~/Home/About")">Mission</a></h2>
                            <p>
                                We offer a uniquely aloha experience by serving irresistible baked goods and hawaiian foods in an atmosphere that welcomes and provides value to the families in our community.
                            </p>
                        </li>
                        <li>
                            <h2><a href="@Url.Content("~/Home/About")">Vision</a></h2>
                            <p>
                                We are established as a gathering place for multiple generations of families who believe we offer a true aloha experience through our service, and value of our irresistible baked goods and hawaiian foods.
                            </p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    