@*@{
    Layout = null;
}*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
        <div class="featured">
            <a href="@Url.Content("~/Products/Index")"><img src="~/Content/images/burger-specials.png" width="960" height="590" alt=""></a>
            <h2>Welcome to Paniolo!</h2>
            <p>
                  Now you don't need to cross continents to feel real Hawaiian vibes! You can taste tradional island food right in the center of Almaty, at our little cosy place.
            </p>
            <ul>
                <li>
                    <a href="@Url.Content("~/Products/Hotdogs")"><img src="~/Content/images/hotdogs.jpg" width="284" height="214" alt=""></a>
                </li>
                <li>
                    <a href="@Url.Content("~/Products/Shakes")"><img src="~/Content/images/shakes.jpg" alt="" width="284" height="214"></a>
                </li>
                <li>
                    <a href="breakfast.html"><img src="~/Content/images/breakfast.jpg" alt="" width="284" height="214"></a>
                </li>
            </ul>
        </div>

